.main-row{
    border: 1px solid #0000001f;
    border-bottom: 0;
}
@media (max-width:1200px) {
    .main-row{
        width: 100%;
        overflow-x: auto;
    }
    
}
.table-main{
    width: 100%;
    overflow-x: auto;
}

.del-btn{
    background-color: transparent;
    color: red;
    padding: 4px 20px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 500;
}
.adduser-btn{
    background: #87b7ff;
    border: 0;
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.edit-btn{
    background-color: transparent;
    color: darkslategray;
    padding: 4px 20px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 500;
}

.btn-main{
    display: flex;
    align-items: center;
    gap: 20px;
}


@media (max-width:768px){
    .table-main{
        width: 768px;
    }
}